.healthBar {
	width: 40%;
	height: 20px;
	border: 2px #ccc solid;
}

.healthSection {
	height: 20px;
	font-size: 10pt;
	vertical-align: top;
	text-align: center;
}

.healthSection p {
	margin: 0;
	padding: 3px;
}




.transition {
	transition: width 1s ease-in-out;
}